{
  "extends": ["airbnb-base", "react-app", "prettier", "prettier/react"],
  "rules": {
    "indent": ["error", 2],
    "no-tabs": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0
  }
}
