.listWrapper {
    width: 100%;
}

.listTitle {
    padding: 0 16px;
}

.regionList {
    border: 1px solid #f0f0f0;
    height: calc(100vh - 280px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.buttonWrapper {
    margin-top: 20px;
}

.listItem > ul.ant-list-item-action {
    margin-left: 8px !important;
}

.listItem:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.listItemActive {
    background-color: #d8e6df !important;
}

.actionItem {
    color: #1DA57A;
    cursor: pointer;
}

.listActionText:hover {
    cursor: pointer;
}

.listActionText {
  width: 100%;
}

.listActionTextActive {
    color: #1DA57A;
}
