.listWrapper {
    margin-top: 30px;
    max-width: 400px;
    width: 100%;
}

.listTitle {
    padding: 0 16px;
}

.fieldsList {
    border: 1px solid #f0f0f0;
    height: 650px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.buttonWrapper {
    margin-top: 20px;
}
