.listWrapper {
    width: 100%;
}

.listTitle {
    padding: 0 16px;
}

.fieldsList {
    border: 1px solid #f0f0f0;
    height: calc(100vh - 280px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.fieldsListHeight {
    height: calc(100vh - 220px);
}

.buttonWrapper {
    margin-top: 20px;
}

.listItem > ul.ant-list-item-action {
    margin-left: 8px !important;
}

.listItem:hover {
    background-color: #f0f0f0;
}

.listItemActive {
    background-color: #d8e6df !important;
}

.actionItem {
    color: #1DA57A;
    cursor: pointer;
}

.listActionText:hover {
}

.listActionText {
    cursor: pointer;
    width: 100%;
}

.listActionTextActive {
    color: #1DA57A;
}

.openButton {
    display: none;
}
