{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/first": "error",
    "no-console": "warn",
    "import/no-anonymous-default-export": ["error", {"allowObject": true, "allowArrowFunction": true}],
    "react-hooks/rules-of-hooks": 0,
    "react-hooks/exhaustive-deps": 0,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "trailingComma": "all",
        "semi": true,
        "jsxSingleQuote": false,
        "singleQuote": true,
        "useTabs": false,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "tabWidth": 2
      }
    ]
  }
}
