{
  "extends": [
    "airbnb-base",
    "react-app"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [ "react" ],
  "overrides": [
    {
      "files": ["*.jsx", "*.js"]
    }
  ],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }],
    "import/no-anonymous-default-export": ["error", {"allowObject": true, "allowArrowFunction": true}],
    "implicit-arrow-linebreak": ["error", "beside"],
    "radix": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "object-curly-newline": 0,
    "import/extensions": 0,
    "no-duplicate-imports": 1,
    "no-case-declarations": 0,
    "class-methods-use-this": 0,
    "no-extra-boolean-cast": 0,
    "react/no-danger": 0,
    "import/order": 0,
    "import/no-named-as-default": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-undef": [
      1,
      {
        "allowGlobals": true
      }
    ],
    "react/require-default-props": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-dynamic-require": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/require-extension": 0,
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "react-hooks/rules-of-hooks": 0,
    "react-hooks/exhaustive-deps": 0,
    "no-unused-expressions": 0,
    "no-alert": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
