.dashboard {
    padding: 0 40px;
}

.contentWrapper {
    display: flex;
}

.regionsListWrapper, .fieldsListWrapper {
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    margin-right: 40px;
}
