.wrapper {
    margin-top: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    cursor: pointer;
}

.action:hover {
    color: #1da57a;
}
