.wrapper {
    height: calc(100vh - 216px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 16px;
}

.inputs {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}

.inputs > div {
    width: 32%;
    padding-right: 32px;
}

.inputs > div:last-child {
    padding-right: 0;
}

.cropTitle {
    font-weight: 500;
    padding: 0 0 8px 8px;
}

.descriptionContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.description {
    width: 100%;
}

.imgUrlInputContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgName {
    font-weight: 500;
    padding-bottom: 8px;
}

.buttonWrapper {
    margin-top: 8px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imgWrapper {
    cursor: pointer;
    margin-bottom: 8px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
