.wrapper {
    height: calc(100vh - 216px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.cropTitle {
    font-weight: 500;
    padding: 0 0 8px 8px;
}

.descriptionContent {
    display: flex;
    margin-bottom: 16px;
}

.description {
    width: 100%;
}

.imgUrlInputContent {
    display: flex;

}
.imgUrlInput {
    width: 100%;
}

.buttonWrapper {
    margin-left: 16px;
}
